<html dir="<%=langDirection%>">
  <head>
    <%- include('partials/head.ejs') %>
    <title><%=langData.addPostPage_TITLE%></title>
  </head>
  <body class="d-flex flex-column gap-4">
    <%- include('partials/nav.ejs') %>

    <!-- Loader -->
    <div id="loader-container" class="visually-hidden">
      <div id="loader"></div>
    </div>

    <main class="add-post-page-container__main container position-relative flex-grow-1 text-light">
      <!-- Back link -->
      <a class="text-light text-decoration-none position-absolute" id="back-link" onclick="history.back()">
        <i class="fa-sharp fa-solid fa-arrow-right-long"></i>
      </a>

      <header class="text-center">
        <h1><%=langData.addPostPage_ADD_POST%></h1>
      </header>

      <form enctype="multipart/form-data" class="add-post-page-container__form mt-4 bg-secondary p-4 rounded-5 mx-auto">
        <div class="mb-3">
          <label for="" class="form-label"><%=langData.addPostPage_POST_TITLE%></label>
          <input name="title" type="text" class="title-input form-control" id="title" maxlength="70" />
          <span class="error-message error-message-title-input"></span>
        </div>
        <div class="mb-3">
          <label for="document" class="form-label">
            <%=langData.addPostPage_FILE%>
            <input type="file" class="file-input" accept=".pdf, .ppt, .pptx, .doc, .docx" />
            <span class="error-message error-message-file-input"></span>
            <br />
            <small><%=langData.addPostPage_FILE_RULE1%></small>
            <br />
            <small><%=langData.addPostPage_FILE_RULE2%></small>
          </label>
        </div>
        <button id="submitButton" type="submit" class="add-post-page-container__button btn btn-lg d-block mx-auto mt-4"><%=langData.addPostPage_ADD%></button>
      </form>
    </main>

    <%- include('partials/footer.ejs') %>
  </body>
  <!-- Send file to server -->
  <script src="/js/sendFileToServer.js"></script>
</html>
