<html dir="<%=langDirection%>">
  <head>
    <%- include('partials/head.ejs') %>
    <title><%=langData.coursesPage_TITLE%></title>
  </head>
  <body class="d-flex flex-column">
    <%- include('partials/nav.ejs') %>

    <!-- Loader -->
    <div id="loader-container" class="visually-hidden">
      <div id="loader"></div>
    </div>

    <main class="container position-relative flex-grow-1 text-light my-4">
      <!-- Back link -->
      <% if(langDirection === 'rtl') { %>
      <a class="link back-link position-absolute text-light mt-3" onclick="history.back()">
        <i class="fas fa-reply fa-lg fa-flip-horizontal"></i>
      </a>
      <% } else { %>
      <a class="link back-link position-absolute text-light mt-3" onclick="history.back()">
        <i class="fas fa-reply fa-lg"></i>
      </a>
      <% } %>

      <header class="text-center">
        <% if(depAbbr === 'CS') { %>
        <h1><%=langData.coursesPage_CS_HEADER%></h1>
        <% } else if(depAbbr === 'IT') { %>
        <h1><%=langData.coursesPage_IT_HEADER%></h1>
        <% } else if(depAbbr === 'DS') { %>
        <h1><%=langData.coursesPage_DS_HEADER%></h1>
        <% } %>
      </header>

      <div class="courses-container container mt-5">
        <div class="courses-row row justify-content-evenly gap-1">
          <% if(typeof courses !== 'undefined') { %> <% courses.forEach(course => { %>
          <a class="course-col col d-flex text-center justify-content-center align-items-center rounded-5 fs-2 text-decoration-none text-light" href="./<%=course.code%>/posts"><%= course.code %></a>
          <% }) %> <% } %>
        </div>
      </div>
    </main>

    <%- include('partials/footer.ejs') %>
  </body>
</html>
