<html dir="rtl">
  <head>
    <%- include('partials/head.ejs') %>
    <title>إعدادات الحساب</title>
  </head>
  <body class="d-flex flex-column gap-4">
    <%- include('partials/nav.ejs') %>

    <main class="dashboard-page-container__main container position-relative text-center text-light flex-grow-1">
      <!-- Back link -->
      <a class="text-light text-decoration-none position-absolute" id="back-link" onclick="history.back()">
        <i class="fa-sharp fa-solid fa-arrow-right-long"></i>
      </a>

      <header>
        <h1><%=langData.ACCOUNT_SETTINGS%></h1>
      </header>

      <form action="/dashboard/my-account" class="mt-5">
        <button class="dashboard-page-container__button btn btn-lg"><%=langData.MY_ACCOUNT_INFO%></button>
      </form>
      <form action="/dashboard/my-posts">
        <button class="dashboard-page-container__button btn btn-lg"><%=langData.MY_POSTS%></button>
      </form>
    </main>

    <%- include('partials/footer.ejs') %>
  </body>
</html>
