<html dir="<%=langData.DIRECTION%>">
  <head>
    <%- include('partials/head.ejs') %>
    <title><%=langData.dashboardPage_TITLE%></title>
  </head>
  <body class="d-flex flex-column">
    <%- include('partials/nav.ejs') %>

    <!-- Loader -->
    <div id="loader-container" class="visually-hidden">
      <div id="loader"></div>
    </div>

    <main class="container position-relative flex-grow-1 text-light my-4">
      <!-- Back link -->
      <% if(langData.DIRECTION === 'rtl') { %>
      <a class="link back-link position-absolute text-light mt-3" onclick="history.back()">
        <i class="fas fa-reply fa-lg fa-flip-horizontal"></i>
      </a>
      <% } else { %>
      <a class="link back-link position-absolute text-light mt-3" onclick="history.back()">
        <i class="fas fa-reply fa-lg"></i>
      </a>
      <% } %>

      <header class="text-center">
        <h1><%=langData.dashboardPage_HEADER%></h1>
      </header>

      <form action="/dashboard/my-account" class="mt-5">
        <button class="btn btn-regular btn-long btn-lg d-block mx-auto"><%=langData.dashboardPage_MY_ACCOUNT_INFO%></button>
      </form>
      <form action="/dashboard/my-posts">
        <button class="btn btn-regular btn-long btn-lg d-block mx-auto"><%=langData.dashboardPage_MY_POSTS%></button>
      </form>
    </main>

    <%- include('partials/footer.ejs') %>
  </body>
</html>
