<html dir="rtl">
  <head>
    <%- include('partials/head.ejs') %>
    <title><%=langData.DEPARTMENTS_PAGE_TITLE%></title>
  </head>
  <body class="d-flex flex-column">
    <%- include('partials/nav.ejs') %>

    <main class="departments-page-container__main container position-relative flex-grow-1 text-center text-light my-4">
      <!-- Back link -->
      <a class="text-light text-decoration-none position-absolute" id="back-link" onclick="history.back()">
        <i class="fa-sharp fa-solid fa-arrow-right-long"></i>
      </a>

      <header>
        <h1><%=langData.DEPARTMENTS%></h1>
      </header>

      <div class="departments-flex-container mt-5 d-flex justify-content-center flex-wrap">
        <div class="departments-page-container__div-box border-dark rounded-5 p-2 m-1">
          <a class="department-link d-flex justify-content-center align-items-center text-light fs-4" href="/departments/CS/courses"><%=langData.COMPUTER_SCIENCE%></a>
        </div>
        <div class="departments-page-container__div-box border-dark rounded-5 p-2 m-1">
          <a class="department-link d-flex justify-content-center align-items-center text-light fs-4" href="/departments/IT/courses"><%=langData.INFORMATION_TECHNOLOGY%></a>
        </div>
        <div class="departments-page-container__div-box border-dark rounded-5 p-2 m-1">
          <a class="department-link d-flex justify-content-center align-items-center text-light fs-4" href="/departments/DS/courses"><%=langData.DATA_SCIENCE%></a>
        </div>
      </div>
    </main>

    <%- include('partials/footer.ejs') %>
  </body>
</html>
