<html>
  <head>
    <%- include('partials/head.ejs') %>
    <title>SEU Students</title>
  </head>
  <body class="d-flex flex-column">
    <%- include('partials/nav.ejs') %>

    <main class="index-page-container__main container text-center text-light flex-grow-1 my-4">
      <header class="">
        <h1><%= translation.WELCOME_STUDENTS %></h1>
      </header>

      <p class="index-page-container__paragraph my-5">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint tempore voluptatem minus, enim atque eum ipsam illo, excepturi esse repellendus amet a molestiae, explicabo vel obcaecati? Impedit suscipit molestias nobis. Lorem ipsum dolor sit
        amet consectetur adipisicing elit. Nam obcaecati repellat repudiandae sequi, adipisci eos, harum non molestias tempore provident atque necessitatibus quaerat minima ratione ducimus.
      </p>

      <!-- if the user has just logged in (to show him log in successful toast)-->
      <% if(typeof user !== 'undefined' && typeof success !== 'undefined' && success === true) { %>
      <script>
        showToast(true, "<%= msg %>");
      </script>
      <% } %>

      <!-- If not logged in -->
      <% if(typeof user === 'undefined') { %>
      <form action="/signup" method="GET">
        <button class="index-page-container__button btn btn-lg">Sign up</button>
      </form>
      <form action="/login" method="GET">
        <button class="index-page-container__button btn btn-lg">Log in</button>
      </form>
      <a href="/departments" class="index-page-container__skip-link d-block mt-4">Browse Departments without signing in</a>
      <% } %>
    </main>

    <%- include('partials/footer.ejs') %>
  </body>
  <script src="js/convertLang.js"></script>
</html>
