<html dir="rtl">
  <head>
    <%- include('partials/head.ejs') %>
    <title><%=langData.HOME_PAGE_TITLE%></title>
  </head>
  <body class="d-flex flex-column">
    <%- include('partials/nav.ejs') %>

    <!-- DEBUGGER -->
    <h1><%=langData.test%></h1>

    <main class="index-page-container__main container text-center text-light flex-grow-1 my-4">
      <header class="index-page-container__header mx-auto">
        <h1><%=langData.WELCOME_STUDENTS%></h1>
        <p class="index-page-container__paragraph my-5">
          <%=langData.WELCOME_PARAGRAPH_P1%>
          <br /><br />
          <%=langData.WELCOME_PARAGRAPH_P2%>
          <br /><br />
          <%=langData.WELCOME_PARAGRAPH_P3%>
        </p>
      </header>

      <!-- if the user has just logged in -->
      <% if(typeof justLoggedIn !== 'undefined') { %>
      <script>
        showToast(true, "<%= langData.LOGIN_SUCCESS_TOAST %>");
      </script>
      <% } %>

      <!-- If not logged in -->
      <% if(typeof user === 'undefined') { %>
      <form class="mt-5" action="/signup" method="GET">
        <button class="index-page-container__button btn btn-lg"><%=langData.SIGNUP%></button>
      </form>
      <form action="/login" method="GET">
        <button class="index-page-container__button btn btn-lg"><%=langData.LOGIN%></button>
      </form>
      <a href="/departments" class="index-page-container__skip-link d-block mt-4"><%=langData.CONTINUE_WITHOUT_LOGIN%></a>
      <% } %>

      <section class="my-5">
        <h4 class="text-end fw-bolder"><%=langData.TARGET_AUDIENCE%></h4>
        <p class="mt-3 text-end">
          <%=langData.TARGET_AUDIENCE_DESC1%>
          <br />
          <%=langData.TARGET_AUDIENCE_DESC2%>
        </p>
      </section>

      <section class="my-5">
        <h4 class="text-end fw-bolder"><%=langData.BENEFITS%></h4>
        <p class="mt-3 text-end"><%=langData.BENEFITS_DESC1%></p>
      </section>

      <section class="my-5">
        <h4 class="text-end fw-bolder"><%=langData.FILE_UPLOADERS%></h4>
        <p class="mt-3 text-end">
          <%=langData.FILE_UPLOADERS_DESC1%>
          <br />
          <%=langData.FILE_UPLOADERS_DESC2%>
          <br />
          <br />
          <%=langData.FILE_UPLOADERS_DESC3%>
          <br />
          <%=langData.FILE_UPLOADERS_DESC4%>
          <br />
          <%=langData.FILE_UPLOADERS_DESC5%>
          <br />
          <%=langData.FILE_UPLOADERS_DESC6%>
          <br />
          <%=langData.FILE_UPLOADERS_DESC7%>
          <br />
          <br />
          <%=langData.FILE_UPLOADERS_DESC8%>
        </p>
      </section>

      <section class="my-5">
        <h4 class="text-end fw-bolder"><%=langData.STUDENT_JOURNEY%></h4>
        <p class="mt-3 text-end">
          <%=langData.STUDENT_JOURNEY_DESC1%>
          <br />
          <%=langData.STUDENT_JOURNEY_DESC2%>
          <br />
          <%=langData.STUDENT_JOURNEY_DESC3%>
          <br />
          <%=langData.STUDENT_JOURNEY_DESC4%>
        </p>
      </section>
    </main>

    <%- include('partials/footer.ejs') %>
  </body>
</html>
