<html dir="rtl">
  <head>
    <%- include('partials/head.ejs') %>
    <title>SEU Students</title>
  </head>
  <body class="d-flex flex-column">
    <%- include('partials/nav.ejs') %>

    <main class="login-page-container__main position-relative container flex-grow-1 text-light my-4">
      <!-- Back link -->
      <a class="text-light text-decoration-none position-absolute" id="back-link" href="#" onclick="history.back()">
        <i class="fa-sharp fa-solid fa-arrow-right-long"></i>
      </a>

      <header class="text-center">
        <h1>تسجيل الدخول</h1>
      </header>

      <!-- Signup successful or Logout successful -->
      <% if(typeof signupSuccess !== 'undefined' || typeof logoutSuccess !== 'undefined' && typeof toastMsg !== 'undefined') { %>
      <script>
        showToast(true, "<%= toastMsg %>");
      </script>
      <% } %>

      <!-- incorrect login credentials -->
      <% if(typeof loginSuccess !== 'undefined' && loginSuccess === false && typeof toastMsg !== 'undefined') { %>
      <script>
        showToast(false, "<%= toastMsg %>");
      </script>
      <% } %>

      <form action="/login-process" method="POST" class="login-page-container__form mt-4 bg-secondary p-4 rounded-5 mx-auto">
        <div class="mb-3">
          <label for="" class="form-label">اسم المستخدم أو البريد الإلكتروني:</label>
          <input name="usernameOrEmail" type="text" class="form-control" id="" />
        </div>
        <div class="mb-3">
          <label for="" class="form-label">كلمة المرور:</label>
          <input name="password" type="password" class="form-control" id="" />
        </div>
        <a class="forgot-password-link d-block mb-2" href="/forgot-password">نسيت كلمة المرور؟</a>
        <a class="signup-link" href="/signup">ليس لدي حساب</a>
        <button type="submit" class="login-page-container__button btn btn-lg d-block mx-auto mt-4">تسجيل دخول</button>
      </form>
    </main>

    <%- include('partials/footer.ejs') %>
  </body>
</html>
