<html dir="<%=langDirection%>">
  <head>
    <%- include('partials/head.ejs') %>
    <title><%=langData.loginPage_TITLE%></title>
  </head>
  <body class="d-flex flex-column">
    <%- include('partials/nav.ejs') %>

    <!-- Loader -->
    <div id="loader-container" class="login-page__loader visually-hidden">
      <div id="loader"></div>
    </div>

    <main class="login-page container position-relative flex-grow-1 text-light my-4">
      <!-- Back link -->
      <% if(langDirection === 'rtl') { %>
      <a class="link back-link position-absolute text-light mt-3" onclick="history.back()">
        <i class="fas fa-reply fa-lg fa-flip-horizontal"></i>
      </a>
      <% } else { %>
      <a class="link back-link position-absolute text-light mt-3" onclick="history.back()">
        <i class="fas fa-reply fa-lg"></i>
      </a>
      <% } %>

      <header class="text-center">
        <h1><%=langData.loginPage_HEADER%></h1>
      </header>

      <!-- Signup successful -->
      <% if(typeof signupSuccess !== 'undefined' && signupSuccess === true) { %>
      <script>
        showToast(true, "<%= langData.toast_SIGNUP_SUCCESS %>");
      </script>
      <% } %>

      <!-- Logout successful -->
      <% if(typeof logoutSuccess !== 'undefined' && logoutSuccess === true) { %>
      <script>
        showToast(true, "<%= langData.toast_LOGOUT_SUCCESS %>");
      </script>
      <% } %>

      <!-- Reset password sent successfully -->
      <% if(typeof sendResetPasswordSuccess !== 'undefined' && sendResetPasswordSuccess === true) { %>
      <script>
        showToast(true, "<%= langData.toast_RESET_PASSWORD_SEND_SUCCESS %>");
      </script>
      <% } %>

      <!-- Reset password failed to send -->
      <% if(typeof sendResetPasswordSuccess !== 'undefined' && sendResetPasswordSuccess === false) { %>
      <script>
        showToast(false, "<%= langData.toast_RESET_PASSWORD_SEND_FAIL %>");
      </script>
      <% } %>

      <!-- incorrect login credentials -->
      <% if(typeof loginSuccess !== 'undefined' && loginSuccess === false) { %>
      <script>
        showToast(false, "<%= langData.toast_LOGIN_FAIL %>");
      </script>
      <% } %>

      <form action="/login-process" method="POST" class="login-page__form form mt-4 bg-secondary p-4 rounded-5 mx-auto">
        <div class="mb-3">
          <label for="" class="form-label"><%=langData.loginPage_USERNAME_OR_EMAIL%></label>
          <input name="usernameOrEmail" type="text" class="form-control" />
        </div>
        <div class="mb-3">
          <label for="" class="form-label"><%=langData.loginPage_PASSWORD%></label>
          <input name="password" type="password" class="form-control" />
        </div>
        <a class="reset-password-link d-block mb-2 link" href="/reset-password"><%=langData.loginPage_FORGOT_PASSWORD%></a>
        <a class="signup-link link" href="/signup"><%=langData.loginPage_DONT_HAVE_ACCOUNT%></a>
        <button type="submit" class="login-page__submit-btn btn btn-regular btn-lg d-block mx-auto mt-4"><%=langData.loginPage_LOGIN%></button>
      </form>
    </main>

    <%- include('partials/footer.ejs') %>
  </body>
</html>
