<html dir="rtl">
  <head>
    <%- include('partials/head.ejs') %>
    <title>User Dashboard</title>
  </head>
  <body class="d-flex flex-column gap-4">
    <%- include('partials/nav.ejs') %>

    <!-- Loader -->
    <div id="loader-container" class="visually-hidden">
      <div id="loader"></div>
    </div>

    <!-- Update data successful -->
    <% if(typeof updateSuccess !== 'undefined' && updateSuccess === true) { %>
    <script>
      showToast(true, "<%= toastMsg %>");
    </script>
    <% } %>

    <main class="my-account-page-container__main position-relative container text-light flex-grow-1">
      <!-- Back link -->
      <a class="text-light text-decoration-none position-absolute" id="back-link" href="#" onclick="history.back()">
        <i class="fa-sharp fa-solid fa-arrow-right-long"></i>
      </a>

      <header class="text-center">
        <h1>معلومات حسابي:</h1>
      </header>

      <section class="mt-5">
        <!-- update Username -->
        <div class="username-data-wrapper mt-4">
          <h5 class="username-label d-block">اسم المستخدم:</h5>
          <p class="current-username d-inline-block"><%= user.username %></p>
          <button class="update-btn update-username-btn btn btn-sm mx-2">تغيير</button>

          <!-- Update username secret form -->
          <form class="my-account-form new-username-form mb-5 visually-hidden">
            <label class="d-block" for="">اسم المستخدم الجديد:</label>
            <input class="my-account-form-input new-username-input form-control d-inline mt-2" type="text" name="username" id="" />
            <button class="save-btn new-username-save-btn btn btn-primary btn-sm">حفظ</button>
            <button class="cancel-btn new-username-cancel-btn btn btn-warning btn-sm border-0">إلغاء</button>
            <span class="text-warning d-block error-message username-error-message fw-bold"></span>
          </form>
        </div>

        <!-- update email -->
        <div class="email-data-wrapper mt-4">
          <h5 class="email-label d-block">البريد الإلكنروني:</h5>
          <p class="current-email d-inline-block"><%= user.email %></p>
          <button class="update-btn update-email-btn btn btn-sm mx-2">تغيير</button>

          <!-- Update email secret form -->
          <form class="my-account-form new-email-form mb-5 visually-hidden">
            <label class="d-block" for="">البريد الإلكنروني الجديد:</label>
            <input class="my-account-form-input new-email-input form-control d-inline mt-2" type="text" name="email" id="" />
            <button class="save-btn new-email-save-btn btn btn-primary btn-sm">حفظ</button>
            <button class="cancel-btn new-email-cancel-btn btn btn-warning btn-sm border-0">إلغاء</button>
            <span class="text-warning d-block error-message email-error-message fw-bold"></span>
          </form>
        </div>
      </section>
    </main>

    <%- include('partials/footer.ejs') %>
  </body>
  <!-- update user info -->
  <script src="/js/updateUserData.js"></script>
</html>
