<html dir="rtl">
  <head>
    <%- include('partials/head.ejs') %>
    <title><%=langData.MY_ACCOUNT_PAGE_TITLE%></title>
  </head>
  <body class="d-flex flex-column gap-4">
    <%- include('partials/nav.ejs') %>

    <!-- Loader -->
    <div id="loader-container" class="visually-hidden">
      <div id="loader"></div>
    </div>

    <!-- Update account data successful -->
    <% if(typeof updateSuccess !== 'undefined' && updateSuccess === true) { %>
    <script>
      showToast(true, "<%= langData.UPDATE_ACCOUNT_INFO_SUCCESS_TOAST %>");
    </script>
    <% } %>

    <main class="my-account-page-container__main container position-relative text-light flex-grow-1">
      <!-- Back link -->
      <a class="text-light text-decoration-none position-absolute" id="back-link" onclick="history.back()">
        <i class="fa-sharp fa-solid fa-arrow-right-long"></i>
      </a>

      <header class="text-center">
        <h1><%=langData.MY_ACCOUNT_INFO%></h1>
      </header>

      <section class="mt-5">
        <!-- update Username -->
        <div class="username-data-wrapper mt-4">
          <h4 class="username-label d-block"><%=langData.USERNAME%></h4>
          <p class="current-username d-inline-block fs-5"><%= user.username %></p>
          <button class="update-btn update-username-btn btn mx-2"><%=langData.CHANGE%></button>

          <!-- Update username hidden form -->
          <form class="my-account-form new-username-form mb-5 visually-hidden">
            <label class="d-block" for=""><%=langData.NEW_USERNAME%></label>
            <input class="my-account-form-input new-username-input form-control d-inline mt-2" type="text" name="username" id="" />
            <button class="save-btn new-username-save-btn btn btn-primary"><%=langData.SAVE%></button>
            <button class="cancel-btn new-username-cancel-btn btn btn-warning border-0"><%=langData.CANCEL%></button>
            <span class="text-warning d-block error-message username-error-message fw-bold"></span>
          </form>
        </div>

        <!-- update email -->
        <div class="email-data-wrapper mt-4">
          <h4 class="email-label d-block"><%=langData.EMAIL%></h4>
          <p class="current-email d-inline-block fs-5"><%= user.email %></p>
          <button class="update-btn update-email-btn btn mx-2"><%=langData.CHANGE%></button>

          <!-- Update email hidden form -->
          <form class="my-account-form new-email-form mb-5 visually-hidden">
            <label class="d-block" for=""><%=langData.NEW_EMAIL%></label>
            <input class="my-account-form-input new-email-input form-control d-inline mt-2" type="email" name="email" id="" />
            <button class="save-btn new-email-save-btn btn btn-primary"><%=langData.SAVE%></button>
            <button class="cancel-btn new-email-cancel-btn btn btn-warning border-0"><%=langData.CANCEL%></button>
            <span class="text-warning d-block error-message email-error-message fw-bold"></span>
          </form>
        </div>

        <!-- update password -->
        <div class="password-data-wrapper mt-4">
          <h4 class="password-label d-block"><%=langData.PASSWORD%></h4>
          <p class="current-password d-inline-block fs-5">•••••••••••••</p>
          <button class="update-btn update-password-btn btn mx-2"><%=langData.CHANGE%></button>

          <!-- Update password hidden form -->
          <form class="my-account-form new-password-form mb-5 visually-hidden">
            <label class="d-block" for=""><%=langData.NEW_PASSWORD%></label>
            <input class="my-account-form-input new-password-input form-control d-inline mt-2" type="password" name="password" id="" />
            <label class="d-block mt-2" for=""><%=langData.REPEAT_NEW_PASSWORD%></label>
            <input class="d-block my-account-form-input repeat-new-password-input form-control d-inline mt-2" type="password" name="repeat-password" id="" />
            <span class="text-warning d-block error-message password-error-message fw-bold"></span>
            <button class="mt-2 save-btn new-password-save-btn btn btn-primary"><%=langData.SAVE%></button>
            <button class="mt-2 cancel-btn new-password-cancel-btn btn btn-warning border-0"><%=langData.CANCEL%></button>
          </form>
        </div>
      </section>
    </main>

    <%- include('partials/footer.ejs') %>
  </body>
  <!-- update user info -->
  <script src="/js/updateUserData.js"></script>
</html>
