<html dir="<%=langDirection%>">
  <head>
    <%- include('partials/head.ejs') %>
    <title><%=langData.myAccountPage_TITLE%></title>
  </head>
  <body class="d-flex flex-column" id="my-account-page">
    <%- include('partials/nav.ejs') %>

    <!-- Loader -->
    <div id="loader-container" class="visually-hidden">
      <div id="loader"></div>
    </div>

    <!-- Update account data successful -->
    <% if(typeof updateSuccess !== 'undefined' && updateSuccess === true) { %>
    <script>
      showToast(true, "<%= langData.toast_UPDATE_ACCOUNT_INFO_SUCCESS %>");
    </script>
    <% } %>

    <main class="container position-relative flex-grow-1 text-light my-4">
      <!-- Back link -->
      <% if(langDirection === 'rtl') { %>
      <a class="link back-link position-absolute text-light mt-3" onclick="history.back()">
        <i class="fas fa-reply fa-lg fa-flip-horizontal"></i>
      </a>
      <% } else { %>
      <a class="link back-link position-absolute text-light mt-3" onclick="history.back()">
        <i class="fas fa-reply fa-lg"></i>
      </a>
      <% } %>

      <header class="text-center">
        <h1><%=langData.myAccountPage_HEADER%></h1>
      </header>

      <section class="mt-5">
        <!-- update Username -->
        <section class="username-data-wrapper mt-4">
          <h4 class="username-label d-block"><%=langData.myAccountPage_USERNAME%></h4>
          <p class="current-username d-inline-block fs-5"><%= user.username %></p>
          <button class="update-btn update-username-btn btn mx-2 btn-regular"><%=langData.myAccountPage_CHANGE%></button>

          <!-- Update username hidden form -->
          <form action="./updateAccountData" method="POST" class="my-account-form new-username-form mb-5 visually-hidden">
            <label class="d-block" for=""><%=langData.myAccountPage_NEW_USERNAME%></label>
            <input class="my-account-form-input new-username-input form-control d-inline mt-2" type="text" name="username" id="" />
            <button class="save-btn new-username-save-btn btn btn-primary"><%=langData.myAccountPage_SAVE%></button>
            <button class="cancel-btn new-username-cancel-btn btn btn-warning border-0"><%=langData.myAccountPage_CANCEL%></button>
            <span class="text-warning d-block error-message username-error-message fw-bold"></span>
          </form>
        </section>

        <!-- update email -->
        <section class="email-data-wrapper mt-4">
          <h4 class="email-label d-block"><%=langData.myAccountPage_EMAIL%></h4>
          <p class="current-email d-inline-block fs-5"><%= user.email %></p>
          <button class="update-btn update-email-btn btn mx-2 btn-regular"><%=langData.myAccountPage_CHANGE%></button>

          <!-- Update email hidden form -->
          <form action="./updateAccountData" method="POST" class="my-account-form new-email-form mb-5 visually-hidden">
            <label class="d-block" for=""><%=langData.myAccountPage_NEW_EMAIL%></label>
            <input class="my-account-form-input new-email-input form-control d-inline mt-2" type="text" name="email" id="" />
            <button class="save-btn new-email-save-btn btn btn-primary"><%=langData.myAccountPage_SAVE%></button>
            <button class="cancel-btn new-email-cancel-btn btn btn-warning border-0"><%=langData.myAccountPage_CANCEL%></button>
            <span class="text-warning d-block error-message email-error-message fw-bold"></span>
          </form>
        </section>

        <!-- update password -->
        <section class="password-data-wrapper mt-4">
          <h4 class="password-label d-block"><%=langData.myAccountPage_PASSWORD%></h4>
          <p class="current-password d-inline-block fs-5">•••••••••••••</p>
          <button class="update-btn update-password-btn btn mx-2 btn-regular"><%=langData.myAccountPage_CHANGE%></button>

          <!-- Update password hidden form -->
          <form action="./updateAccountData" method="POST" class="my-account-form new-password-form mb-5 visually-hidden">
            <label class="d-block" for=""><%=langData.myAccountPage_NEW_PASSWORD%></label>
            <input class="my-account-form-input new-password-input form-control d-inline mt-2" type="password" name="password" id="" />
            <label class="d-block mt-2" for=""><%=langData.myAccountPage_NEW_PASSWORD_REPEAT%></label>
            <input class="d-block my-account-form-input repeat-new-password-input form-control d-inline mt-2" type="password" name="repeatPassword" id="" />
            <span class="text-warning d-block error-message password-error-message fw-bold"></span>
            <button class="mt-2 save-btn new-password-save-btn btn btn-primary"><%=langData.myAccountPage_SAVE%></button>
            <button class="mt-2 cancel-btn new-password-cancel-btn btn btn-warning border-0"><%=langData.myAccountPage_CANCEL%></button>
          </form>
        </section>
      </section>
    </main>

    <%- include('partials/footer.ejs') %>
  </body>
</html>
