<html dir="<%=langDirection%>">
  <head>
    <%- include('partials/head.ejs') %>
    <title><%=langData.myPostsPage_TITLE%></title>
  </head>
  <body class="d-flex flex-column">
    <%- include('partials/nav.ejs') %>

    <!-- Loader -->
    <div id="loader-container" class="visually-hidden">
      <div id="loader"></div>
    </div>

    <main class="container position-relative flex-grow-1 text-light my-4">
      <!-- Back link -->
      <% if(langDirection === 'rtl') { %>
      <a class="link back-link position-absolute text-light mt-3" onclick="history.back()">
        <i class="fas fa-reply fa-lg fa-flip-horizontal"></i>
      </a>
      <% } else { %>
      <a class="link back-link position-absolute text-light mt-3" onclick="history.back()">
        <i class="fas fa-reply fa-lg"></i>
      </a>
      <% } %>

      <header class="text-center">
        <h1><%=langData.myPostsPage_HEADER%></h1>
      </header>

      <!-- Delete post success -->
      <% if(typeof deletePostSuccess !== 'undefined' && deletePostSuccess === true) { %>
      <script>
        showToast(true, "<%= langData.toast_DELETE_POST_SUCCESS %>");
      </script>
      <% } %>

      <!-- Delete post failed -->
      <% if(typeof deletePostSuccess !== 'undefined' && deletePostSuccess === false) { %>
      <script>
        showToast(false, "<%= langData.toast_DELETE_POST_FAIL %>");
      </script>
      <% } %>

      <!-- Update post success -->
      <% if(typeof updatePostTitleSuccess !== 'undefined' && updatePostTitleSuccess === true) { %>
      <script>
        showToast(true, "<%= langData.toast_UPDATE_POST_TITLE_SUCCESS %>");
      </script>
      <% } %>

      <!-- Update post failed -->
      <% if(typeof updatePostTitleSuccess !== 'undefined' && updatePostTitleSuccess === false) { %>
      <script>
        showToast(false, "<%= langData.toast_UPDATE_POST_TITLE_FAIL %>");
      </script>
      <% } %>

      <!-- If there are no posts -->
      <% if(typeof areTherePosts !== 'undefined' && areTherePosts === false) { %>
      <h6 class="text-center mt-5"><%= langData.myPostsPage_USER_NO_POSTS %></h6>
      <% } %>

      <!-- If there are posts -->
      <div class="posts-container d-flex justify-content-center flex-wrap gap-3 mt-4">
        <% if(typeof posts !== 'undefined' && posts.length > 0) { %> <% posts.forEach(post => { %>
        <div class="posts-container-post my-posts d-flex flex-column rounded-5 text-decoration-none text-dark" href="/downloadFile?s3FileName=<%= post.s3FileName %>&title=<%= post.title %>" download="<%= post.s3FileName %>">
          <!-- Col 1 -->
          <div class="col posts-container-post-col p-2 px-sm-4 d-flex align-items-center">
            <% if(post.fileType === '.pdf') { %>
            <img class="post-file-icon p-0" src="/images/pdf-icon.svg" alt="" height="30" width="30" />
            <% } else if (post.fileType === '.doc' || post.fileType === '.docx') { %>
            <img class="post-file-icon p-0" src="/images/word-icon.svg" alt="" height="30" width="30" />
            <% } else if (post.fileType === '.ppt' || post.fileType === '.pptx') { %>
            <img class="post-file-icon p-0" src="/images/powerpoint-icon.svg" alt="" height="30" width="30" />
            <% } %>
            <h6 class="posts-container-post-title fw-bolder mx-2"><%= post.title %></h6>
          </div>
          <!-- Col 2 -->
          <div class="col posts-container-post-col p-2 px-sm-4 d-flex align-items-center">
            <small class="post-course-code"><%=post.courseCode%></small>
          </div>
          <!-- Col 3 -->
          <div class="col posts-container-post-col p-2 d-flex align-items-center">
            <div class="col-8">
              <small class=""><%= post.createdAt %></small>
            </div>
            <div class="col d-flex justify-content-evenly justify-content-sm-center">
              <form class="m-0" action="/dashboard/my-posts/<%=post.id%>/update-post-title" method="GET">
                <button class="edit-post-button btn btn-primary btn-sm mx-sm-1 text-light"><%=langData.myPostsPage_EDIT%></button>
              </form>
              <form class="m-0" action="/dashboard/my-posts/deletePost" method="POST">
                <input type="hidden" name="s3FileName" value="<%=post.s3FileName%>" />
                <button class="delete-post-button btn btn-danger btn-sm mx-sm-1"><%=langData.myPostsPage_DELETE%></button>
              </form>
            </div>
          </div>
        </div>
        <% })} else { %>
        <h6 class=""><%=langData.postsPage_NO_POSTS%></h6>
        <% } %>
      </div>

      <!-- Pagination -->
      <div class="pagination d-flex justify-content-center align-items-center mt-5">
        <i><</i>
        <% if(typeof totalPages !== 'undefined') { %> <% for (let i = 1; i <= totalPages; i++) { %> <% if(i === currentPage) { %>
        <a href="?page=<%= i %>" class="link page-number-link text-light mx-2"><%= i %></a>
        <% } else { %>
        <a href="?page=<%= i %>" class="link page-number-link text-decoration-none text-light mx-2"><%= i %></a>
        <% } %> <% } %> <% } %>
        <i>></i>
      </div>
    </main>

    <%- include('partials/footer.ejs') %>
  </body>
</html>
