<html dir="rtl">
  <head>
    <%- include('partials/head.ejs') %>
    <title>منشوراتي</title>
  </head>
  <body class="d-flex flex-column gap-4">
    <%- include('partials/nav.ejs') %>

    <main class="dashboard-page-container__main position-relative text-center text-light flex-grow-1">
      <!-- Back link -->
      <a class="text-light text-decoration-none position-absolute" id="back-link" onclick="history.back()">
        <i class="fa-sharp fa-solid fa-arrow-right-long"></i>
      </a>

      <header>
        <h1>منشوراتي:</h1>
      </header>

      <!-- Delete post success -->
      <% if(typeof deletePostSuccess !== 'undefined' && deletePostSuccess === true) { %>
      <script>
        showToast(true, "<%= msg %>");
      </script>
      <% } %>

      <!-- Delete post failed -->
      <% if(typeof deletePostSuccess !== 'undefined' && deletePostSuccess === false) { %>
      <script>
        showToast(false, "<%= msg %>");
      </script>
      <% } %>

      <!-- If there are no posts -->
      <% if(typeof areTherePosts !== 'undefined' && areTherePosts === false) { %>
      <h6 class="text-center mt-5"><%= msg %></h6>
      <% } %>

      <!-- if there are posts -->
      <div class="myposts-flex-container mt-4 d-flex justify-content-center flex-wrap text-dark px-md-5">
        <% if(typeof posts !== 'undefined') { %> <% posts.forEach(post => { %>
        <div class="myposts-page-container__post d-flex flex-column border-dark rounded-4 px-3 m-2 shadow-lg">
          <div class="myposts-page-container__post-column d-flex justify-content-start align-items-center flex-grow-1">
            <% if(post.fileType === '.pdf') { %>
            <img class="post-file-icon" src="/images/pdf-icon.svg" alt="" height="30" width="30" />
            <% } else if (post.fileType === '.doc' || post.fileType === '.docx') { %>
            <img class="post-file-icon" src="/images/word-icon.svg" alt="" height="30" width="30" />
            <% } else if (post.fileType === '.ppt' || post.fileType === '.pptx') { %>
            <img class="post-file-icon" src="/images/powerpoint-icon.svg" alt="" height="30" width="30" />
            <% } %>
            <h6 class="post-title text-end fw-bolder d-inline mx-2"><%= post.title %></h6>
          </div>
          <div class="myposts-page-container__post-column d-flex justify-content-start align-items-center flex-grow-1">
            <small class="post-course-code">مادة <%=post.courseCode%></small>
          </div>
          <div class="myposts-page-container__post-column d-flex justify-content-between align-items-center flex-grow-1">
            <small class="post-date"><%= post.createdAt %></small>
            <form class="m-0" action="/dashboard/my-posts/deletePost" method="POST">
              <input type="hidden" name="s3FileName" value="<%=post.s3FileName%>" />
              <button class="delete-post-btn btn btn-danger text-light">حذف</button>
            </form>
          </div>
        </div>
        <% }) %> <% } %>
      </div>
    </main>

    <%- include('partials/footer.ejs') %>
  </body>
</html>
