<html dir="<%=langDirection%>">
  <head>
    <%- include('partials/head.ejs') %>
    <title><%=langData.postsPage_TITLE%></title>
  </head>
  <body class="d-flex flex-column">
    <%- include('partials/nav.ejs') %>

    <!-- Loader -->
    <div id="loader-container" class="visually-hidden">
      <div id="loader"></div>
    </div>

    <main class="container-xl position-relative flex-grow-1 text-light my-4">
      <!-- Back link -->
      <% if(langDirection === 'rtl') { %>
      <a class="link back-link position-absolute text-light mt-3" onclick="history.back()">
        <i class="fas fa-reply fa-lg fa-flip-horizontal"></i>
      </a>
      <% } else { %>
      <a class="link back-link position-absolute text-light mt-3" onclick="history.back()">
        <i class="fas fa-reply fa-lg"></i>
      </a>
      <% } %>

      <header class="text-center">
        <h1><%=langData.postsPage_HEADER%> <%=courseCode%>:</h1>
      </header>

      <form class="mt-4" action="./add-post" method="GET">
        <button class="add-post-btn btn btn-regular d-block mx-auto"><%=langData.postsPage_ADD_POST%></button>
      </form>

      <!-- if post added successfully -->
      <% if(typeof addPostSuccess !== 'undefined' && addPostSuccess === true) { %>
      <script>
        showToast(true, "<%= langData.toast_ADD_POST_SUCCESS %>");
      </script>
      <% } %>

      <!-- If user clicked on Add Post while he is not logged in -->
      <% if(typeof needLogin !== 'undefined') { %>
      <script>
        showToast(false, "<%= langData.toast_MUST_LOGIN_TO_ADD_POST %>");
      </script>
      <% } %>

      <div class="posts-container d-flex justify-content-center flex-wrap gap-3 mt-4">
        <% if(typeof posts !== 'undefined' && posts.length > 0) { %> <% posts.forEach(post => { %>
        <a class="fileLink posts-container-post d-flex flex-column rounded-5 text-decoration-none text-dark" href="/downloadFile?s3FileName=<%= post.s3FileName %>&title=<%= post.title %>" download="<%= post.s3FileName %>">
          <!-- Col 1 -->
          <div class="col posts-container-post-col p-2 px-sm-4 d-flex align-items-center">
            <% if(post.fileType === '.pdf') { %>
            <img class="post-file-icon p-0" src="/images/pdf-icon.svg" alt="" height="30" width="30" />
            <% } else if (post.fileType === '.doc' || post.fileType === '.docx') { %>
            <img class="post-file-icon p-0" src="/images/word-icon.svg" alt="" height="30" width="30" />
            <% } else if (post.fileType === '.ppt' || post.fileType === '.pptx') { %>
            <img class="post-file-icon p-0" src="/images/powerpoint-icon.svg" alt="" height="30" width="30" />
            <% } %>
            <h6 class="posts-container-post-title fw-bolder mx-2"><%= post.title %></h6>
          </div>
          <!-- Col 2 -->
          <div class="col posts-container-post-col p-2 px-sm-4 d-flex align-items-center">
            <% if (post.gender === 'male') { %>
            <img class="post-user-icon" src="/images/male-icon.svg" alt="Placeholder" width="25" height="25" />
            <% } else if (post.gender === 'female') { %>
            <img class="post-user-icon" src="/images/female-icon.svg" alt="Placeholder" width="25" height="25" />
            <% } %>
            <small class="post-username d-inline mx-2"><%= post.username %></small>
          </div>
          <!-- Col 3 -->
          <div class="col posts-container-post-col p-2 px-sm-4 d-flex align-items-center">
            <small class=""><%= post.createdAt %></small>
          </div>
        </a>
        <% })} else { %>
        <h6 class=""><%=langData.postsPage_NO_POSTS%></h6>
        <% } %>
      </div>

      <!-- Pagination -->
      <div class="pagination d-flex justify-content-center align-items-center mt-5">
        <% if(typeof totalPages !== 'undefined' && totalPages > 1) { %> <i><</i> <% for (let i = 1; i <= totalPages; i++) { %> <% if(i === currentPage) { %>
        <a href="?page=<%= i %>" class="link page-number-link text-light mx-2"><%= i %></a>
        <% } else { %>
        <a href="?page=<%= i %>" class="link page-number-link text-decoration-none text-light mx-2"><%= i %></a>
        <% } %> <% } %> <i>></i> <% } %>
      </div>
    </main>

    <%- include('partials/footer.ejs') %>
  </body>
</html>
