<html dir="rtl">
  <head>
    <%- include('partials/head.ejs') %>
    <title>Posts</title>
  </head>
  <body class="d-flex flex-column gap-4">
    <%- include('partials/nav.ejs') %>

    <main class="posts-page-container__main container flex-grow-1 text-center text-light">
      <header>
        <h1>المنشورات لـ <%=courseCode%> :</h1>
      </header>

      <form class="mt-3" action="./add-post" method="GET">
        <button class="add-post-btn btn btn-primary">+ إضافة منشور</button>
      </form>

      <!-- if post added successfully -->
      <% if(typeof user !== 'undefined' && typeof success !== 'undefined' && success === true) { %>
      <script>
        showToast(true, "<%= msg %>");
      </script>
      <% } %>

      <!-- If user clicked on Add Post while he is not logged in -->
      <% if(typeof err !== 'undefined') { %>
      <script>
        showToast(false, "<%= err %>");
      </script>
      <% } %>

      <div class="posts-flex-container container mt-4 d-flex justify-content-center justify-content-lg-between flex-wrap text-dark px-md-5">
        <% if(typeof posts !== 'undefined') { %> <% posts.forEach(post => { %>

        <div class="posts-page-container__post d-flex flex-column border-dark rounded-4 px-2 px-md-4 m-2">
          <div class="posts-page-container__post-column d-flex justify-content-start align-items-center flex-grow-1">
            <% if(post.fileType === '.pdf') { %>
            <img src="/images/pdf-icon.svg" alt="" height="30" width="30" />
            <% } else if (post.fileType === '.doc' || post.fileType === '.docx') { %>
            <img src="/images/word-icon.svg" alt="" height="30" width="30" />
            <% } else if (post.fileType === '.ppt' || post.fileType === '.pptx') { %>
            <img src="/images/powerpoint-icon.svg" alt="" height="30" width="30" />
            <% } %>

            <h6 class="d-inline mx-2">
              <a class="fileLink text-decoration-none fw-bold" href="/downloadFile?s3FileName=<%= post.s3FileName %>&title=<%= post.title %>" download="<%= post.s3FileName %>"><%= post.title %></a>
            </h6>
          </div>
          <div class="posts-page-container__post-column d-flex justify-content-start align-items-center flex-grow-1">
            <% if (post.gender === 'male') { %>
            <img src="/images/male-icon.svg" alt="Placeholder" width="30" height="30" />
            <% } else if (post.gender === 'female') { %>
            <img src="/images/female-icon.svg" alt="Placeholder" width="30" height="30" />
            <% } %>
            <p class="d-inline my-0 mx-2"><%= post.username %></p>
          </div>
          <div class="posts-page-container__post-column d-flex justify-content-start align-items-center flex-grow-1">
            <p><%= post.createdAt %></p>
            <form action="./deleteFile?s3FileName=<%=post.s3FileName%>" method="POST">
              <button class="delete-file-btn btn btn-danger">Delete</button>
            </form>
          </div>
        </div>
        <% }) %> <% } %>
      </div>
    </main>

    <%- include('partials/footer.ejs') %>
  </body>
</html>
