<html dir="<%=langDirection%>">
  <head>
    <%- include('partials/head.ejs') %>
    <title><%=langData.resetPasswordPage_TITLE%></title>
  </head>
  <body class="d-flex flex-column">
    <%- include('partials/nav.ejs') %>

    <!-- Loader -->
    <div id="loader-container" class="visually-hidden">
      <div id="loader"></div>
    </div>

    <main class="reset-password-page-container__main container position-relative flex-grow-1 text-light my-4">
      <!-- Back link -->
      <a class="text-light text-decoration-none position-absolute" id="back-link" onclick="history.back()">
        <i class="fa-sharp fa-solid fa-arrow-right-long"></i>
      </a>

      <!-- Email entered doesn't exist -->
      <% if(typeof emailExists !== 'undefined' && emailExists === false) { %>
      <script>
        showToast(false, "<%= langData.toast_EMAIL_DOESNT_EXIST %>");
      </script>
      <% } %>

      <header class="text-center">
        <h1><%=langData.resetPasswordPage_RESET_PASSWORD%></h1>
        <p class="mt-3">
          <%=langData.resetPasswordPage_RESET_PASSWORD_DESC1%>
          <br />
          <%=langData.resetPasswordPage_RESET_PASSWORD_DESC2%>
        </p>
      </header>

      <form action="/send-email-to-reset-password" method="POST" class="reset-password-page-container__form mt-4 bg-secondary p-4 rounded-5 mx-auto">
        <div class="mb-3">
          <label for="" class="form-label"><%=langData.resetPasswordPage_EMAIL%></label>
          <input name="email" type="email" class="form-control" id="" />
        </div>
        <button type="submit" class="reset-password-page-container__button btn btn-lg d-block mx-auto mt-4"><%=langData.resetPasswordPage_SEND%></button>
      </form>
    </main>

    <%- include('partials/footer.ejs') %>
  </body>
  <!-- Loader script-->
  <script src="/js/resetPasswordLoader.js"></script>
</html>
