<html dir="rtl">
  <head>
    <%- include('partials/head.ejs') %>
    <title><%=langData.UPDATE_POST_TITLE_PAGE_TITLE%></title>
  </head>
  <body class="d-flex flex-column gap-4">
    <%- include('partials/nav.ejs') %>

    <!-- Loader -->
    <div id="loader-container" class="visually-hidden">
      <div id="loader"></div>
    </div>

    <main class="update-post-title-page-container__main container position-relative flex-grow-1 text-light">
      <!-- Back link -->
      <a class="text-light text-decoration-none position-absolute" id="back-link" onclick="history.back()">
        <i class="fa-sharp fa-solid fa-arrow-right-long"></i>
      </a>

      <header class="text-center">
        <h1><%=langData.UPDATE_POST_TITLE%></h1>
      </header>

      <form class="update-post-title-page-container__form mt-4 bg-secondary p-4 rounded-5 mx-auto" method="POST" action="./updatePostTitleProcess">
        <label for="" class="form-label"><%=langData.NEW_TITLE%></label>
        <input name="newTitle" type="text" class="new-title-input form-control" id="new-title" maxlength="70" />
        <button id="updateButton" type="submit" class="update-post-title-page-container__button btn btn-lg d-block mx-auto mt-4"><%=langData.EDIT%></button>
      </form>
    </main>

    <%- include('partials/footer.ejs') %>
  </body>
</html>
